*{
    margin: 0 auto;
    padding: 0 auto;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Raleway", sans-serif;
}
.logo{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.graficlogo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;

}
nav{
    margin: auto;
    width: 800px;
    height: 50px;

}
.topnav{
    background-color: white;
    font-size: 14px;
    margin-top: 40px;
}
.topnav a{
    color:black;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: 700;
}
.topnav a:hover{
   border-bottom: 2px solid black;
}
.topnav .icon{
    display: none;

}
.mw-100{
    max-width: 100%;
}
.advantages__container{
   display: flex;
   justify-content: center; 
}
.advantages{
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}
.advantages__item{
    width: 30%;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}
.nav-link:hover{
    border-bottom: 2px solid white;
}
.social img{
    margin-top: 20px;
    margin-left: 10px;
}
.social img:hover{
    background-color: #494949;
    border-radius: 50%;
}




@media screen and (max-width: 768px){
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .advantages__item{
        width: 45%;
    }
}
@media screen and (max-width: 520px){
    .advantages{
        flex-direction: column;
    }
    .advantages__item{
        width: 100%;
    }

}